// Hjemmeside
$temaFarve: rgba(239, 199, 32, .65);
$temaRGB: #efc720;
$sideFarve: #FAFAFA;
$logoFarve: grey;

// Splashscreen
$kop: #FFFFFF;
$bobbler: darken($temaFarve, 7%);

// Grøn Koncert Billet
$billetFarve: #6E9F5A;
$billetByFarve: #C52958;
$billetBundFarve: #FFF;